//Colors Variables

$red: #d32f2f;
$white: white;
$black: black;

//Style for the New Nav
.topnav {
    .two{
        float: right;
    }
    a {
        float: left;
        color:$white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
      }
    overflow: hidden;
  }
  hr{
    border-top: 1px solid #B0BEC5;
  }
//Style for the Footer
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: $red;
    color: $white;
    text-align: center;
    -webkit-box-shadow:-3px -5px 5px -3px rgba(0, 0, 0, 0.75);
    -moz-box-shadow:-3px -5px 5px -3px rgba(0, 0, 0, 0.75);
    box-shadow: -3px -5px 5px -3px rgba(0, 0, 0, 0.75);
    p{
        margin: 5px 0px 5px;
    }
    .arrow-b{
        cursor: pointer;
        float: right;
        margin-top: -36px;
        font-size: 25px;
        background-color: $red;
        padding: 6px;
        -webkit-box-shadow:-3px -5px 5px -3px rgba(0, 0, 0, 0.75);
        -moz-box-shadow:-3px -5px 5px -3px rgba(0, 0, 0, 0.75);
        box-shadow: -3px -5px 5px -3px rgba(0, 0, 0, 0.75);
    }
 }
//Style for the containers index
.cont{
    border: 1px solid $red;
    margin-left: 90px;
    background-color: $red;
    .side{
        padding-left: 20px;
        padding-right: 20px;
        color: $white;
    }
    hr{
        border-top: 1px solid $white;
        width: 35px;
        margin-left: 0px;
        height: 3px;
        background: $white;
        margin-top: 0px;
        margin-bottom: 10px;
    }
}
.b-ttom{
    text-align: center;
    background-color: $red;
    color: $white;
    padding: 5px;
    font-size: 20px;
    font-family: 'Antic', sans-serif;
    font-family: 'Nixie One', cursive;
    font-family: 'Quicksand', sans-serif;
    font-family: 'Poiret One', cursive;
    -webkit-box-shadow:-3px -5px 5px -3px rgba(0, 0, 0, 0.75);
    -moz-box-shadow:-3px -5px 5px -3px rgba(0, 0, 0, 0.75);
    box-shadow: -3px -5px 5px -3px rgba(0, 0, 0, 0.75);
}

.back-one{
    background: url("../images/Imagenes_backgrounds/A1-maiz.png") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    .prod{
        margin-bottom: -10px;
        color: $white;
        font-size: 60px;
        font-family: 'Antic', sans-serif;
        font-family: 'Nixie One', cursive;
        font-family: 'Quicksand', sans-serif;
        font-family: 'Poiret One', cursive;
    }
}
.cult{
    color: $white;
    font-size: 50px;
    font-family: 'Antic', sans-serif;
    font-family: 'Nixie One', cursive;
    font-family: 'Quicksand', sans-serif;
    font-family: 'Poiret One', cursive;
}
.back-two{
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin-bottom: 30px;
    padding-left: 0px;
    padding-right: 0px;
}

//Style for the mini container

.mini-cont{
    margin-top: -230px;
    i{
        position:absolute;
        color: $red;
        font-size: 30px;
        cursor: pointer;
    }
    .x1{
        margin-left: 60px;
        margin-top: 10px;
    }
    .x2{
        margin-left: 60px;
        margin-top: 100px;
    }
    span{
        position:absolute;
        margin-left: 55px;
        margin-top: 60px;
        color: $white;
        font-weight: bold;
    }
}

//Style for the ABOUT page
.menu-footer{
    position: absolute;
    left: 0;
    width: 100%;
    background-color: $red;
    color: $white;
    text-align: center;
    -webkit-box-shadow:-3px -5px 5px -3px rgba(0, 0, 0, 0.75);
    -moz-box-shadow:-3px -5px 5px -3px rgba(0, 0, 0, 0.75);
    box-shadow: -3px -5px 5px -3px rgba(0, 0, 0, 0.75);
    p{
        margin: 5px 0px 5px;
    }
    .arrow-b{
        cursor: pointer;
        float: right;
        margin-top: -36px;
        font-size: 25px;
        background-color: $red;
        padding: 6px;
        -webkit-box-shadow:-3px -5px 5px -3px rgba(0, 0, 0, 0.75);
        -moz-box-shadow:-3px -5px 5px -3px rgba(0, 0, 0, 0.75);
        box-shadow: -3px -5px 5px -3px rgba(0, 0, 0, 0.75);
    }
    .cont-arrow{
        height: 200px;
    }
    .one-c{
        background-color: $white;
    }
    .one-b{
        background-color: $red;
    }
    .two-c{
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
    .two-b{
        padding-right: 0px !important;
        padding-left: 0px !important;
        
    }
}

//Estilos de las flechas
.arrow{
    position: relative;
    color:#fff;
  }
.arrow-right:after{
    content: "";
    position: absolute;
    right: -10px;
    top: 60px;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid white; 
    z-index: 2;
}

.arrow-left:before{
    content: "";
    position: absolute;
    left: -10px;
    top: 60px;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid $white;
    z-index: 2;
}

//Estilo del color de la flecha dependiendo de su posicion
.red-c:after{
    border-left: 10px solid $red !important; 
}
.red-d:before{
    border-right: 10px solid $red !important; 
}

//Style for the container
.side-two{
    color: black;
    text-align: justify;
    margin: 10px;
    font-family: 'Antic', sans-serif;
    font-family: 'Nixie One', cursive;
    font-family: 'Quicksand', sans-serif;
    font-family: 'Poiret One', cursive;
    .site{
        color: $white !important;
    }
    hr{
        border-top: 1px solid $white;
        width: 35px;
        margin-left: 0px;
        height: 3px;
        background: $black;
        margin-top: 0px;
        margin-bottom: 10px;
        .hd{
            background: $white !important;
        }
    }
    p{
        font-size: 10px;
    }
    #first{
        font-weight: bold;
    }
}

.side-three{
    color: $white !important;
    text-align: justify;
    margin: 10px;
    font-family: 'Antic', sans-serif;
    font-family: 'Nixie One', cursive;
    font-family: 'Quicksand', sans-serif;
    font-family: 'Poiret One', cursive;
    .site{
    }
    hr{
        border-top: 1px solid $white;
        width: 35px;
        margin-left: 0px;
        height: 3px;
        background: $white !important;
        margin-top: 0px;
        margin-bottom: 10px;
    }
    p{
        font-size: 10px;
    }
    #first{
        font-weight: bold;
    }
}

//Estilos para la Vista de MENU 1

.nav-two{
    background-color: #9E9E9E;
    i{
    margin-right: 10px;
    }
}
.nav-three{
    margin-bottom: 8px;
    i{
    margin-right: 10px;
    }
}
.img-cont{
    position: relative;
    text-align: center;
    color: white;
    .left-text{
        position: absolute;
        bottom: 28px;
        left: 25px;
        font-size: 20px;
        font-weight: bold;
    }
    .img-svg{
        position: absolute;
        height: 15px;
        margin-left: -30%;
        margin-top: 35px;
    }
}

//Estilos para la vista de Productos

.top-fer{
    position: absolute;
    margin-top: -80px;
    width: 100%;
}
.span-h{
    a{
        margin-right: 15px;
        text-decoration: none;
        color: $white;
    }
    margin-top: -30px;
    color: white;
    text-align: center;
    font-size: 15px;
}

.cont-p{
    position: relative;
    border: 1px solid #ECEFF1;
    height: 200px;
    margin: 20px 0px 20px 0px;
    img{
        position: absolute;
        top: 0;
        right: 0;
        height: 80px;
    }
}
.cont-i{
    img{
        position: absolute;
        top: 0;
        right: 0;
        height: 80px;
    }
}
.btn{
    border-radius: 0px;
  }
.btn-produc {
    color: #ffffff;
    font-size: 12px;
    background: #ea1010;
    padding: 6px 8px 6px 8px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    -webkit-box-shadow: 2px 3px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 3px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 2px 3px 5px 0px rgba(0,0,0,0.75);
    width: 100%;
    font-size: 10px;
}
.btn-produc:hover {
    background: #d32f2f;
    text-decoration: none;
}

  //Estilos Vista Productos Detalle
.cult{
    img{
        height: 40px;
    }
    width: 100%;
    margin-top: -20px;
}

.btn-cult{
    margin: 10px;
    background: #E6EAEC;
    color: $black;
    cursor: pointer;
    border-radius: 20px;
}

.btn-cult:hover{
    border: 1px solid #B0BEC5;
    color: $black;
}

.text-cult{
    font-size: 12px;
    text-align: center;
    font-weight: bold;
    margin-top: -8px;
    margin-bottom: -8px;
}
.text-culti{
    font-size: 12px;
    font-weight: bold;
}
.label-cult{
    margin-top: 8px;
}
.cult-form{
    margin-bottom: -20px;
}

.cult-li{
padding-left: 10px;
margin-top: -8px;
margin-bottom: 15px;
li {
    list-style-type: none;
    margin-bottom: 8px;
    }
li:after{
    content: "-";
    float: left;
    margin-right: 5px;
} 
}
.culti-li{
    padding-left: 20px;
    margin-top: -8px;
    margin-bottom: 15px;
    li{
        margin-bottom: 8px;
    }
}

.head-cult{
    color: #777;
    margin-top: 50px;
    h4{
        margin-top: 20px;
        margin-bottom: 20px;
    }
}
.cult-curl{
    color: #777;
   h5{
       margin-bottom: 20px;
   } 
}

.con-img {
    position: relative;
    text-align: center;
    color: white;
    .centered {
        position: absolute;
        top: 65%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 30px;
    }
    .img-svg{
        position: absolute;
        height: 65px;
        margin-top: 10%;
    }
}

//Estilo para el menu blanco
ul.sidebar-menu {
    margin: 0;
    padding: 0;
    width: 250px;
    list-style: none;
    list-style-type: none;
    height: 100%;
    position: fixed;
    -webkit-box-shadow: 2px 0px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 0px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 2px 0px 5px 0px rgba(0,0,0,0.75);
    background-color: #f8f8f8;
    text-transform: uppercase;
    z-index: 3;
}
ul.sidebar-menu > hr{
    border-top: 1px solid $red;
}
.sidebar-menu li a span {
	margin-right: 20px;
    color:$red;
    float: right;
    margin-top: 2px;
}
.sidebar-menu li a  {
	padding: 20px 25px;
	display: block;
	text-decoration: none;
    color:$red;
}
.sidebar-menu li a:hover  {
	background-color: #4A148C;
	padding: 20px 25px;
	display: block;
	text-decoration: none;
    color:$white;
    .fa{
        display: none;
    }
}

.img-menu{
    position: absolute;
    height: 35px;
    margin-top: 11px;
}


//Style for Table ROW
.row.no-gutters {
    margin-right: 0;
    margin-left: 0;
  }
.row.no-gutters > [class^="col-"],
.row.no-gutters > [class*=" col-"] {
    padding-right: 0;
    padding-left: 0;
}

.col-sm-15 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}
.cult-t{
    margin-top: -10px;
}

//Media Query for the Tablet//

@media (min-width: 768px) {
    .col-sm-15 {
        width: 20%;
        float: left;
    }

    .back-one{
        height: 400px;
    }
    .back-two{
        height: 400px !important;
    }
    .mini-cont{
        margin-top: -330px;
    }
    .cult-t{
        margin-top: 80px !important;
    }
    .menu-footer{
        position: inherit;
    }
    .two-b{
        padding-left: 0px !important;
    }
    .two-c{
        padding-right: 0px !important;
    }
    .cont-p{
        height: 470px;
        margin: 20px 0px 55px 0px;
    }
    .cul-hi{
        margin-top: -370px;
    }
    .tablet-br{
        margin: 10px 25px 25px 25px;
        border: 1px solid #ddd;
    }
    .text-cult{
        margin-top: 10px;
    }

    .img-sm-bn{
    margin: -15px;
    margin-bottom: -15px;
    margin-bottom: -30px;
    margin-top: 20px;
    }
}



