//Colors Variables

$red: #d32f2f;
$white: white;

//Style for the New Nav
.topnav {
    .two{
        float: right;
    }
    a {
        float: left;
        color:$white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
      }
    overflow: hidden;
  }
//Style for the Footer
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: $red;
    color: $white;
    text-align: center;
 }
//Style for the containers index
.cont{
    border: 1px solid $red;
    margin-left: 50px;
    background-color: $red;
    .side{
        padding-left: 20px;
        padding-right: 20px;
        color: $white;
    }
    hr{
        border-top: 1px solid $white;
        width: 35px;
        margin-left: 0px;
        height: 3px;
        background: $white;
        margin-top: 0px;
        margin-bottom: 10px;
    }
}
.b-ttom{
    text-align: center;
    background-color: $red;
    color: $white;
    padding: 5px;
    .text-center{
        margin-bottom: 0px;
        color: $white;
    }
}

.back-one{
    background: url("../images/Imagenes_backgrounds/1-banano.png") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}