//Colors Variables

$red: #d32f2f;
$white: white;
$black: black;

//Style for the New Nav
.topnav {
    .two{
        float: right;
    }
    a {
        float: left;
        color:$white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
      }
    overflow: hidden;
  }
//Style for the Footer
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: $red;
    color: $white;
    text-align: center;
    -webkit-box-shadow:-3px -5px 5px -3px rgba(0, 0, 0, 0.75);
    -moz-box-shadow:-3px -5px 5px -3px rgba(0, 0, 0, 0.75);
    box-shadow: -3px -5px 5px -3px rgba(0, 0, 0, 0.75);
    p{
        margin: 5px 0px 5px;
    }
    .arrow-b{
        cursor: pointer;
        float: right;
        margin-top: -36px;
        font-size: 25px;
        background-color: $red;
        padding: 6px;
        -webkit-box-shadow:-3px -5px 5px -3px rgba(0, 0, 0, 0.75);
        -moz-box-shadow:-3px -5px 5px -3px rgba(0, 0, 0, 0.75);
        box-shadow: -3px -5px 5px -3px rgba(0, 0, 0, 0.75);
    }
 }
//Style for the containers index
.cont{
    border: 1px solid $red;
    margin-left: 90px;
    background-color: $red;
    .side{
        padding-left: 20px;
        padding-right: 20px;
        color: $white;
    }
    hr{
        border-top: 1px solid $white;
        width: 35px;
        margin-left: 0px;
        height: 3px;
        background: $white;
        margin-top: 0px;
        margin-bottom: 10px;
    }
}
.b-ttom{
    text-align: center;
    background-color: $red;
    color: $white;
    padding: 5px;
    font-size: 20px;
    font-family: 'Antic', sans-serif;
    font-family: 'Nixie One', cursive;
    font-family: 'Quicksand', sans-serif;
    font-family: 'Poiret One', cursive;
    -webkit-box-shadow:-3px -5px 5px -3px rgba(0, 0, 0, 0.75);
    -moz-box-shadow:-3px -5px 5px -3px rgba(0, 0, 0, 0.75);
    box-shadow: -3px -5px 5px -3px rgba(0, 0, 0, 0.75);
}

.back-one{
    background: url("../images/Imagenes_backgrounds/A1-maiz.png") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    .prod{
        margin-bottom: -10px;
        color: $white;
        font-size: 60px;
        font-family: 'Antic', sans-serif;
        font-family: 'Nixie One', cursive;
        font-family: 'Quicksand', sans-serif;
        font-family: 'Poiret One', cursive;
    }
}
.cult{
    color: $white;
    font-size: 50px;
    font-family: 'Antic', sans-serif;
    font-family: 'Nixie One', cursive;
    font-family: 'Quicksand', sans-serif;
    font-family: 'Poiret One', cursive;
}
.back-two{
    background: url("../images/Imagenes_backgrounds/A2-mano.png") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin-bottom: 30px;
}

//Style for the mini container

.mini-cont{
    margin-top: 20px;
    i{
        position:absolute;
        color: $red;
        font-size: 30px;
        cursor: pointer;
    }
    .x1{
        margin-left: 60px;
        margin-top: 10px;
    }
    .x2{
        margin-left: 60px;
        margin-top: 100px;
    }
    span{
        position:absolute;
        margin-left: 55px;
        margin-top: 60px;
        color: $white;
        font-weight: bold;
    }
}

//Style for the ABOUT page

.menu-footer{
    position: fixed;
    left: 0;
    width: 100%;
    margin-top: 30px;
    background-color: $red;
    color: $white;
    text-align: center;
    -webkit-box-shadow:-3px -5px 5px -3px rgba(0, 0, 0, 0.75);
    -moz-box-shadow:-3px -5px 5px -3px rgba(0, 0, 0, 0.75);
    box-shadow: -3px -5px 5px -3px rgba(0, 0, 0, 0.75);
    p{
        margin: 5px 0px 5px;
    }
    .arrow-b{
        cursor: pointer;
        float: right;
        margin-top: -36px;
        font-size: 25px;
        background-color: $red;
        padding: 6px;
        -webkit-box-shadow:-3px -5px 5px -3px rgba(0, 0, 0, 0.75);
        -moz-box-shadow:-3px -5px 5px -3px rgba(0, 0, 0, 0.75);
        box-shadow: -3px -5px 5px -3px rgba(0, 0, 0, 0.75);
    }
    .cont-arrow{
        height: 150px;
    }
    .one-c{
        background-color: $white;
    }
    .two-c{
        padding-left: 0px;
    }
}

.arrow{
    position: relative;
    background: green;
    color:#fff;
  }
.arrow-right:after{
    content: "";
    position: absolute;
    right: -10px;
    top: 60px;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid white; 
    z-index: 2;
}
.arrow-left:before{
    content: "";
    position: absolute;
    left: -10px;
    top: 60px;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid $white;
    z-index: 2;
}

.side-two{
    color: black;
    text-align: justify;
    margin: 10px;
    font-family: 'Antic', sans-serif;
    font-family: 'Nixie One', cursive;
    font-family: 'Quicksand', sans-serif;
    font-family: 'Poiret One', cursive;
    hr{
        border-top: 1px solid $white;
        width: 35px;
        margin-left: 0px;
        height: 3px;
        background: $black;
        margin-top: 0px;
        margin-bottom: 10px;
    }
    p{
        font-size: 10px;
    }
    #first{
        font-weight: bold;
    }
}