.topnav {
  overflow: hidden; }
  .topnav .two {
    float: right; }
  .topnav a {
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px; }

hr {
  border-top: 1px solid #B0BEC5; }

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #d32f2f;
  color: white;
  text-align: center;
  -webkit-box-shadow: -3px -5px 5px -3px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -3px -5px 5px -3px rgba(0, 0, 0, 0.75);
  box-shadow: -3px -5px 5px -3px rgba(0, 0, 0, 0.75); }
  .footer p {
    margin: 5px 0px 5px; }
  .footer .arrow-b {
    cursor: pointer;
    float: right;
    margin-top: -36px;
    font-size: 25px;
    background-color: #d32f2f;
    padding: 6px;
    -webkit-box-shadow: -3px -5px 5px -3px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -3px -5px 5px -3px rgba(0, 0, 0, 0.75);
    box-shadow: -3px -5px 5px -3px rgba(0, 0, 0, 0.75); }

.cont {
  border: 1px solid #d32f2f;
  margin-left: 90px;
  background-color: #d32f2f; }
  .cont .side {
    padding-left: 20px;
    padding-right: 20px;
    color: white; }
  .cont hr {
    border-top: 1px solid white;
    width: 35px;
    margin-left: 0px;
    height: 3px;
    background: white;
    margin-top: 0px;
    margin-bottom: 10px; }

.b-ttom {
  text-align: center;
  background-color: #d32f2f;
  color: white;
  padding: 5px;
  font-size: 20px;
  font-family: 'Antic', sans-serif;
  font-family: 'Nixie One', cursive;
  font-family: 'Quicksand', sans-serif;
  font-family: 'Poiret One', cursive;
  -webkit-box-shadow: -3px -5px 5px -3px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -3px -5px 5px -3px rgba(0, 0, 0, 0.75);
  box-shadow: -3px -5px 5px -3px rgba(0, 0, 0, 0.75); }

.back-one {
  background: url("../images/Imagenes_backgrounds/A1-maiz.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }
  .back-one .prod {
    margin-bottom: -10px;
    color: white;
    font-size: 60px;
    font-family: 'Antic', sans-serif;
    font-family: 'Nixie One', cursive;
    font-family: 'Quicksand', sans-serif;
    font-family: 'Poiret One', cursive; }

.cult {
  color: white;
  font-size: 50px;
  font-family: 'Antic', sans-serif;
  font-family: 'Nixie One', cursive;
  font-family: 'Quicksand', sans-serif;
  font-family: 'Poiret One', cursive; }

.back-two {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin-bottom: 30px;
  padding-left: 0px;
  padding-right: 0px; }

.mini-cont {
  margin-top: -230px; }
  .mini-cont i {
    position: absolute;
    color: #d32f2f;
    font-size: 30px;
    cursor: pointer; }
  .mini-cont .x1 {
    margin-left: 60px;
    margin-top: 10px; }
  .mini-cont .x2 {
    margin-left: 60px;
    margin-top: 100px; }
  .mini-cont span {
    position: absolute;
    margin-left: 55px;
    margin-top: 60px;
    color: white;
    font-weight: bold; }

.menu-footer {
  position: absolute;
  left: 0;
  width: 100%;
  background-color: #d32f2f;
  color: white;
  text-align: center;
  -webkit-box-shadow: -3px -5px 5px -3px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -3px -5px 5px -3px rgba(0, 0, 0, 0.75);
  box-shadow: -3px -5px 5px -3px rgba(0, 0, 0, 0.75); }
  .menu-footer p {
    margin: 5px 0px 5px; }
  .menu-footer .arrow-b {
    cursor: pointer;
    float: right;
    margin-top: -36px;
    font-size: 25px;
    background-color: #d32f2f;
    padding: 6px;
    -webkit-box-shadow: -3px -5px 5px -3px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -3px -5px 5px -3px rgba(0, 0, 0, 0.75);
    box-shadow: -3px -5px 5px -3px rgba(0, 0, 0, 0.75); }
  .menu-footer .cont-arrow {
    height: 200px; }
  .menu-footer .one-c {
    background-color: white; }
  .menu-footer .one-b {
    background-color: #d32f2f; }
  .menu-footer .two-c {
    padding-left: 0px !important;
    padding-right: 0px !important; }
  .menu-footer .two-b {
    padding-right: 0px !important;
    padding-left: 0px !important; }

.arrow {
  position: relative;
  color: #fff; }

.arrow-right:after {
  content: "";
  position: absolute;
  right: -10px;
  top: 60px;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid white;
  z-index: 2; }

.arrow-left:before {
  content: "";
  position: absolute;
  left: -10px;
  top: 60px;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid white;
  z-index: 2; }

.red-c:after {
  border-left: 10px solid #d32f2f !important; }

.red-d:before {
  border-right: 10px solid #d32f2f !important; }

.side-two {
  color: black;
  text-align: justify;
  margin: 10px;
  font-family: 'Antic', sans-serif;
  font-family: 'Nixie One', cursive;
  font-family: 'Quicksand', sans-serif;
  font-family: 'Poiret One', cursive; }
  .side-two .site {
    color: white !important; }
  .side-two hr {
    border-top: 1px solid white;
    width: 35px;
    margin-left: 0px;
    height: 3px;
    background: black;
    margin-top: 0px;
    margin-bottom: 10px; }
    .side-two hr .hd {
      background: white !important; }
  .side-two p {
    font-size: 10px; }
  .side-two #first {
    font-weight: bold; }

.side-three {
  color: white !important;
  text-align: justify;
  margin: 10px;
  font-family: 'Antic', sans-serif;
  font-family: 'Nixie One', cursive;
  font-family: 'Quicksand', sans-serif;
  font-family: 'Poiret One', cursive; }
  .side-three hr {
    border-top: 1px solid white;
    width: 35px;
    margin-left: 0px;
    height: 3px;
    background: white !important;
    margin-top: 0px;
    margin-bottom: 10px; }
  .side-three p {
    font-size: 10px; }
  .side-three #first {
    font-weight: bold; }

.nav-two {
  background-color: #9E9E9E; }
  .nav-two i {
    margin-right: 10px; }

.nav-three {
  margin-bottom: 8px; }
  .nav-three i {
    margin-right: 10px; }

.img-cont {
  position: relative;
  text-align: center;
  color: white; }
  .img-cont .left-text {
    position: absolute;
    bottom: 28px;
    left: 25px;
    font-size: 20px;
    font-weight: bold; }
  .img-cont .img-svg {
    position: absolute;
    height: 15px;
    margin-left: -30%;
    margin-top: 35px; }

.top-fer {
  position: absolute;
  margin-top: -80px;
  width: 100%; }

.span-h {
  margin-top: -30px;
  color: white;
  text-align: center;
  font-size: 15px; }
  .span-h a {
    margin-right: 15px;
    text-decoration: none;
    color: white; }

.cont-p {
  position: relative;
  border: 1px solid #ECEFF1;
  height: 200px;
  margin: 20px 0px 20px 0px; }
  .cont-p img {
    position: absolute;
    top: 0;
    right: 0;
    height: 80px; }

.cont-i img {
  position: absolute;
  top: 0;
  right: 0;
  height: 80px; }

.btn {
  border-radius: 0px; }

.btn-produc {
  color: #ffffff;
  font-size: 12px;
  background: #ea1010;
  padding: 6px 8px 6px 8px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  -webkit-box-shadow: 2px 3px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 3px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 2px 3px 5px 0px rgba(0, 0, 0, 0.75);
  width: 100%;
  font-size: 10px; }

.btn-produc:hover {
  background: #d32f2f;
  text-decoration: none; }

.cult {
  width: 100%;
  margin-top: -20px; }
  .cult img {
    height: 40px; }

.btn-cult {
  margin: 10px;
  background: #E6EAEC;
  color: black;
  cursor: pointer;
  border-radius: 20px; }

.btn-cult:hover {
  border: 1px solid #B0BEC5;
  color: black; }

.text-cult {
  font-size: 12px;
  text-align: center;
  font-weight: bold;
  margin-top: -8px;
  margin-bottom: -8px; }

.text-culti {
  font-size: 12px;
  font-weight: bold; }

.label-cult {
  margin-top: 8px; }

.cult-form {
  margin-bottom: -20px; }

.cult-li {
  padding-left: 10px;
  margin-top: -8px;
  margin-bottom: 15px; }
  .cult-li li {
    list-style-type: none;
    margin-bottom: 8px; }
  .cult-li li:after {
    content: "-";
    float: left;
    margin-right: 5px; }

.culti-li {
  padding-left: 20px;
  margin-top: -8px;
  margin-bottom: 15px; }
  .culti-li li {
    margin-bottom: 8px; }

.head-cult {
  color: #777;
  margin-top: 50px; }
  .head-cult h4 {
    margin-top: 20px;
    margin-bottom: 20px; }

.cult-curl {
  color: #777; }
  .cult-curl h5 {
    margin-bottom: 20px; }

.con-img {
  position: relative;
  text-align: center;
  color: white; }
  .con-img .centered {
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px; }
  .con-img .img-svg {
    position: absolute;
    height: 65px;
    margin-top: 10%; }

ul.sidebar-menu {
  margin: 0;
  padding: 0;
  width: 250px;
  list-style: none;
  list-style-type: none;
  height: 100%;
  position: fixed;
  -webkit-box-shadow: 2px 0px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 0px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 2px 0px 5px 0px rgba(0, 0, 0, 0.75);
  background-color: #f8f8f8;
  text-transform: uppercase;
  z-index: 3; }

ul.sidebar-menu > hr {
  border-top: 1px solid #d32f2f; }

.sidebar-menu li a span {
  margin-right: 20px;
  color: #d32f2f;
  float: right;
  margin-top: 2px; }

.sidebar-menu li a {
  padding: 20px 25px;
  display: block;
  text-decoration: none;
  color: #d32f2f; }

.sidebar-menu li a:hover {
  background-color: #4A148C;
  padding: 20px 25px;
  display: block;
  text-decoration: none;
  color: white; }
  .sidebar-menu li a:hover .fa {
    display: none; }

.img-menu {
  position: absolute;
  height: 35px;
  margin-top: 11px; }

.row.no-gutters {
  margin-right: 0;
  margin-left: 0; }

.row.no-gutters > [class^="col-"],
.row.no-gutters > [class*=" col-"] {
  padding-right: 0;
  padding-left: 0; }

.col-sm-15 {
  position: relative;
  min-height: 1px;
  padding-right: 10px;
  padding-left: 10px; }

.cult-t {
  margin-top: -10px; }

@media (min-width: 768px) {
  .col-sm-15 {
    width: 20%;
    float: left; }
  .back-one {
    height: 400px; }
  .back-two {
    height: 400px !important; }
  .mini-cont {
    margin-top: -330px; }
  .cult-t {
    margin-top: 80px !important; }
  .menu-footer {
    position: inherit; }
  .two-b {
    padding-left: 0px !important; }
  .two-c {
    padding-right: 0px !important; }
  .cont-p {
    height: 470px;
    margin: 20px 0px 55px 0px; }
  .cul-hi {
    margin-top: -370px; }
  .tablet-br {
    margin: 10px 25px 25px 25px;
    border: 1px solid #ddd; }
  .text-cult {
    margin-top: 10px; }
  .img-sm-bn {
    margin: -15px;
    margin-bottom: -15px;
    margin-bottom: -30px;
    margin-top: 20px; } }
