<!DOCTYPE html>
<html lang="en">
  <head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>ABOUT</title>
  <!-- Bootstrap core CSS -->
  <link href="../../../node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="../css/styles.css">
  <link href="https://fonts.googleapis.com/css?family=Antic|Nixie+One|Poiret+One|Quicksand" rel="stylesheet"> 
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  </head>
  <body>
    <div class="menu-footer">
        <i class="fa fa-angle-up arrow-b"></i>
      <p>ACERCA DE HELM</p>
      <div class="row">
            <div class="col-xs-6 col-sm-4 cont-arrow one-c arrow arrow-right">
                <div class="side-two">
                    <h5>NUESTROS</h5>
                    <h5 id="first">PRODUCTOS</h5>
                    <hr>
                    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo. </p>
                </div>
            </div>
            <div class="col-xs-6 col-sm-4 cont-arrow two-c">
                <img src="../images/Imagenes_backgrounds/B1-tarro.png"  height="100%" width="100%">
            </div>
            <div class="col-xs-6 col-sm-4 cont-arrow two-b">
                <img src="../images/Imagenes_backgrounds/B2-plaga.png"  height="100%x" width="100%">
            </div>
            <div class="col-xs-6 col-sm-4 cont-arrow one-c arrow arrow-left">
                <div class="side-two">
                    <h5>NUESTROS</h5>
                    <h5 id="first">PRODUCTOS</h5>
                    <hr>
                    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo. </p>
                </div>
            </div>
            <div class="col-xs-6 col-sm-4 cont-arrow one-b arrow arrow-right red-c">
                <div class="side-three">
                    <h5>NUESTROS</h5>
                    <h5 id="first">PRODUCTOS</h5>
                    <hr>
                    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo. </p>
                </div>
            </div>
            <div class="col-xs-6 col-sm-4 cont-arrow two-c">
                <img src="../images/Imagenes_backgrounds/B3-bombillo.png"  height="100%" width="100%">
            </div>
            <div class="col-xs-6 col-sm-4 cont-arrow two-b">
                <img src="../images/Imagenes_backgrounds/B4-sello.png"  height="100%x" width="100%">
            </div>
            <div class="col-xs-6 col-sm-4 cont-arrow one-b arrow arrow-left red-d">
                <div class="side-three">
                    <h5>NUESTROS</h5>
                    <h5 id="first">PRODUCTOS</h5>
                    <hr>
                    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo. </p>
                </div>
            </div>
            <div class="col-xs-6 col-sm-4 cont-arrow one-b arrow arrow-right red-c">
                <div class="side-three">
                    <h5>NUESTROS</h5>
                    <h5 id="first">PRODUCTOS</h5>
                    <hr>
                    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo. </p>
                </div>
            </div>
            <div class="col-xs-6 col-sm-4 cont-arrow two-c">
                <img src="../images/Imagenes_backgrounds/B5-asistencia.png"  height="100%" width="100%">
            </div>
            <div class="col-xs-6 col-sm-4 cont-arrow two-b">
                    <img src="../images/Imagenes_backgrounds/B4-sello.png"  height="100%" width="100%">
            </div>
            <div class="col-xs-6 col-sm-4 cont-arrow two-c">
                    <img src="../images/Imagenes_backgrounds/B5-maiz.png"  height="100%" width="100%">
            </div>
        </div>
    </div>
    <script src="../js/jquery.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/main.js"></script>
  </body>
</html>