<!DOCTYPE html>
<html lang="en">
  <head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>MENU-THREE</title>
  <!-- Bootstrap core CSS -->
  <link href="../../../node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="../css/styles.css">
  <link href="https://fonts.googleapis.com/css?family=Antic|Nixie+One|Poiret+One|Quicksand" rel="stylesheet"> 
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  </head>
  <body>
    <ul class="sidebar-menu">
        <img src="../images/Otros/logo-crop-horizontal.svg"  class="img-menu" width="100%">
        <img src="../images/Otros/background-desplegable-menu.png"  height="50px" width="100%">
        <li>
            <a href="#"><span class="fa">+</span>HERBICIDAS</a>
        </li>
        <li>
            <a href="#"><span class="fa">+</span>INSECTICIDAS</a>
        </li>
        <li>
            <a href="#"><span class="fa">+</span>FUNGICIDAS</a>
        </li>
        <hr>
        <li class="end">
            <a href="#"><span class="fa">+</span>salir</a>
        </li>
    </ul>
    <script src="../../../node_modules/jquery/dist/jquery.min.js"></script>
    <script src="../../../node_modules/bootstrap/dist/js/bootstrap.js"></script>
  </body>
</html>