<!DOCTYPE html>
<html lang="en">
  <head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>MENU-TWO</title>
  <!-- Bootstrap core CSS -->
  <link href="../../../node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="../css/styles.css">
  <link href="https://fonts.googleapis.com/css?family=Antic|Nixie+One|Poiret+One|Quicksand" rel="stylesheet"> 
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  </head>
  <body>
      <div class="nav-two row no-gutters">
        <div class="con-img col-sm-4">
            <div class="centered">BANANO</div>
            <img src="../images/Iconos_Cultivos/icon-banano.svg" class="img-svg"  height="100%" width="100%">
            <img src="../images/Imagenes_backgrounds/F1-banano.png"  height="100%" width="100%">
        </div>
        <div class="con-img col-sm-4">
            <div class="centered">PAPA</div>
            <img src="../images/Iconos_Cultivos/icon-papa.svg" class="img-svg"  height="100%" width="100%">
            <img src="../images/Imagenes_backgrounds/F2-papa.png"  height="100%" width="100%">
        </div>
        <div class="con-img col-sm-4">
            <div class="centered">ARROZ</div>
            <img src="../images/Iconos_Cultivos/icon-arroz.svg" class="img-svg"  height="100%" width="100%">
            <img src="../images/Imagenes_backgrounds/F3-arroz.png"  height="100%" width="100%">
        </div>
        <div class="con-img col-sm-15">
            <div class="centered">CAFÉ</div>
            <img src="../images/Iconos_Cultivos/icon-cafe.svg" class="img-svg"  height="100%" width="100%">
            <img src="../images/Imagenes_backgrounds/F4-cafe.png"  height="100%" width="100%">
        </div>
        <div class="con-img col-sm-15">
            <div class="centered">PIÑA</div>
            <img src="../images/Iconos_Cultivos/icon-pina.svg" class="img-svg"  height="100%" width="100%">
            <img src="../images/Imagenes_backgrounds/F5-pina.png"  height="100%" width="100%">
        </div>
        <div class="con-img col-sm-15">
            <div class="centered">AGUACATE</div>
            <img src="../images/Iconos_Cultivos/icon-aguacate.svg" class="img-svg"  height="100%" width="100%">
            <img src="../images/Imagenes_backgrounds/F6-aguacate.png"  height="100%" width="100%">
        </div>
        <div class="con-img col-sm-15">
            <div class="centered">ROSA</div>
            <img src="../images/Iconos_Cultivos/icon-rosa.svg" class="img-svg"  height="100%" width="100%">
            <img src="../images/Imagenes_backgrounds/F7-rosa.png"  height="100%" width="100%">
        </div>
        <div class="con-img col-sm-15">
            <div class="centered">TOMATE</div>
            <img src="../images/Iconos_Cultivos/icon-tomate.svg" class="img-svg"  height="100%" width="100%">
            <img src="../images/Imagenes_backgrounds/F8-tomate.png"  height="100%" width="100%">
        </div>
        <div class="con-img col-sm-3">
            <div class="centered">PALMA</div>
            <img src="../images/Iconos_Cultivos/icon-palma.svg" class="img-svg"  height="100%" width="100%">
            <img src="../images/Imagenes_backgrounds/F9-palma.png"  height="100%" width="100%">
        </div>
        <div class="con-img col-sm-3">
            <div class="centered">SOYA</div>
            <img src="../images/Iconos_Cultivos/icon-soya.svg" class="img-svg"  height="100%" width="100%">
            <img src="../images/Imagenes_backgrounds/F10-soya.png"  height="100%" width="100%">
        </div>
        <div class="con-img col-sm-3">
            <div class="centered" style="font-size: 20px;">CAÑA DE AZÚCAR</div>
            <img src="../images/Iconos_Cultivos/icon-cana-azucar.svg" class="img-svg"  height="100%" width="100%">
            <img src="../images/Imagenes_backgrounds/F11-cana_azucar.png"  height="100%" width="100%">
        </div>
        <div class="con-img col-sm-3">
            <div class="centered">PASTO</div>
            <img src="../images/Iconos_Cultivos/icon-pasto.svg" class="img-svg"  height="100%" width="100%">
            <img src="../images/Imagenes_backgrounds/F12-pasto.png"  height="100%" width="100%">
        </div>
    </div>
    <script src="../../../node_modules/jquery/dist/jquery.min.js"></script>
    <script src="../../../node_modules/bootstrap/dist/js/bootstrap.js"></script>
  </body>
</html>