<!DOCTYPE html>
<html lang="en">
  <head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>MENU-ONE</title>
  <link href="../css/bootstrap.min.css" rel="stylesheet">  
  <link rel="stylesheet" href="../css/styles.css">
  <link href="https://fonts.googleapis.com/css?family=Antic|Nixie+One|Poiret+One|Quicksand" rel="stylesheet"> 
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  </head>
  <body>
      <div class="nav-two">
        <nav class="topnav">
            <a href="#"><i class="fa fa-bars"></i>  <i class="fa fa-angle-left"></i>PRODUCTOS</a>
            <a href="#" class="two"><i class="fa fa-ellipsis-v"></i></a>
        </nav>
        <div class="img-cont">
            <div class="left-text">HERBICIDAS</div>
            <img src="../images/Recuadros_categorias/ICON-01.svg" class="img-svg"  height="100%" width="100%">
            <img src="../images/Recuadros_categorias/recuadro-azul.png"  height="100%" width="100%">
        </div>
        <div class="img-cont">
            <div class="left-text">INSECTICIDAS</div>
            <img src="../images/Recuadros_categorias/ICON-01.svg" class="img-svg"  height="100%" width="100%">
            <img src="../images/Recuadros_categorias/recuadro-naranja.png"  height="100%" width="100%">
        </div>
        <div class="img-cont">
            <div class="left-text">FUNGICIDAS</div>
            <img src="../images/Recuadros_categorias/ICON-01.svg" class="img-svg"  height="100%" width="100%">
            <img src="../images/Recuadros_categorias/recuadro-verde.png"  height="100%" width="100%">
        </div>
        <div class="img-cont">
            <div class="left-text">COADYUDANTES</div>
            <img src="../images/Recuadros_categorias/ICON-01.svg" class="img-svg"  height="100%" width="100%">
            <img src="../images/Recuadros_categorias/recuadro-gris.png"  height="100%" width="100%">
        </div>
        <div class="img-cont">
            <div class="left-text">FERTILIZANTES</div>
            <img src="../images/Recuadros_categorias/ICON-01.svg" class="img-svg"  height="100%" width="100%">
            <img src="../images/Recuadros_categorias/recuadro-purpura.png"  height="100%" width="100%">
        </div>
        <div class="img-cont">
            <div class="left-text">REGULADOR DE CRECIMIENTO</div>
            <img src="../images/Recuadros_categorias/ICON-01.svg" class="img-svg"  height="100%" width="100%">
            <img src="../images/Recuadros_categorias/recuadro-aguamarina.png"  height="100%" width="100%">
        </div>
    </div>
    <script src="../js/jquery.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/main.js"></script>
  </body>
</html>