<!DOCTYPE html>
<html lang="en">
  <head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>PRODUCTOS-D</title>
  <!-- Bootstrap core CSS -->
  <link href="../../../node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="../css/styles.css">
  <link href="https://fonts.googleapis.com/css?family=Antic|Nixie+One|Poiret+One|Quicksand" rel="stylesheet"> 
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  </head>
  <body>
    <div class="nav-three">
        <img src="../images/Recuadros_categorias/recuadro-rojo.png"  height="80px" width="100%">
        <nav class="topnav top-fer">
            <a href="#">
                <i class="fa fa-bars"></i>  
                <i class="fa fa-angle-left"></i>CULTIVO
            </a>
            <a href="#" class="two"><i class="fa fa-ellipsis-v"></i></a>
        </nav>
        <!--Aqui deberia ir un plugin de Carrousel, asi todas las categorias se mostrarian-->
        <div class="span-h">
            <a href="#">BANANO</a>
            <a href="#">PAPA</a>
            <a href="#">ARROZ</a>
            <a href="#">CAFÉ</a>
            <a href="#">PIÑA</a>
        </div>
        <img src="../images/Imagenes_backgrounds/G1-banano.png"  height="100%" width="100%">
    </div>
    <div class="col-xs-6">
        <div class="cont-p">
            <img src="../images/Ribbon/ribbon-verde@2x.png">
        </div>
        <button type="button" class="btn btn-produc">CARACTERÍSTICAS</button>
    </div>
    <div class="col-xs-6">
        <div class="cont-p">
            <img src="../images/Ribbon/ribbon-verde@2x.png">
        </div>
        <button type="button" class="btn btn-produc">CARACTERÍSTICAS</button>
    </div>
    <div class="col-xs-6">
        <div class="cont-p">
            <img src="../images/Ribbon/ribbon-azul@2x.png">
        </div>
        <button type="button" class="btn btn-produc">CARACTERÍSTICAS</button>
    </div>
    <div class="col-xs-6">
        <div class="cont-p">
            <img src="../images/Ribbon/ribbon-verde@2x.png">
        </div>
        <button type="button" class="btn btn-produc">CARACTERÍSTICAS</button>
    </div>
    <script src="../../../node_modules/jquery/dist/jquery.min.js"></script>
    <script src="../../../node_modules/bootstrap/dist/js/bootstrap.js"></script>
  </body>
</html>