<!DOCTYPE html>
<html lang="en">
  <head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>PRODUCTOS-DETALLES</title>
  <!-- Bootstrap core CSS -->
  <link href="../../../node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="../css/styles.css">
  <link href="https://fonts.googleapis.com/css?family=Antic|Nixie+One|Poiret+One|Quicksand" rel="stylesheet"> 
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  </head>
  <body>
    <div class="nav-three">
        <img src="../images/Recuadros_categorias/recuadro-azul.png"  height="80px" width="100%">
        <nav class="topnav top-fer">
            <a href="#">
                <i class="fa fa-bars"></i>  
                <i class="fa fa-angle-left"></i>PRODUCTOS
            </a>
            <a href="#" class="two"><i class="fa fa-ellipsis-v"></i></a>
        </nav>
        <div class="span-h">
            <a href="#">HERBICIDAS</a>
            <a href="#">FERTILIZANTES</a>
            <a href="#">FUNGICIDAS</a>
        </div>
    </div>
    <div class="col-xs-12">
        <div class="cont-i">
            <img src="../images/Ribbon/ribbon-azul@2x.png">
        </div>
        <div style="margin-bottom: 30px;">
            <div class="head-cult">
                <h3>Aqui puede ir la imgen</h3>
                <h4>Sed ut perspiciatis unde omnis iste natus error sit voluptatem</h4>
                <ul class="culti-li">
                    <li>Coffee</li>
                    <li>Tea</li>
                    <li>Milk</li>
                </ul>
            </div>
            <hr>
            <div class="cult-curl">
                <h4>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </h4>
                <h5>"Sed ut perspiciatis unde omnis iste natus error si1t v
                    oluptatem accusantium doloremque laudantium, totam rem aperiam,
                    eaque ipsa quae ab illo inventore veritatis et quasi architecto
                    beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos
                </h5>
            </div>
                <h4 class="text-culti">DETALLES DEL PRODUCTO</h4>
            <div class="form-horizontal">
                <div class="form-group cult-form">
                    <label class="col-xs-6 label-cult">Ingrediente Activo</label>
                    <div class="col-xs-6">
                    <p class="form-control-static">something</p>
                    </div>
                </div>
            <hr>
                <div class="form-group cult-form" style="margin-top: -20px;">
                    <label class="col-xs-6 label-cult">Número de reg. CAS</label>
                    <div class="col-xs-6">
                    <p class="form-control-static">something</p>
                    </div>
                </div>
            </div>
            <hr>
            <H5 class="text-cult">SERVICIOS ESPECIALES ASOCIADOS AL PRODUCTO</H5 class="text-cult">            
            <hr>
            <ul class="cult-li">
                <li>Lorem ipsum dolor sit ame</li>
                <li>Lorem ipsum dolor sit ame</li>
                <li>Lorem ipsum dolor sit ame</li>
            </ul>
            <h5 style="font-weight:bold">CULTIVO</h5>
            <div class="cult">
                <img src="../images/Iconos_Cultivos/icon-banano.svg">
                <img src="../images/Iconos_Cultivos/icon-arroz.svg">
                <img src="../images/Iconos_Cultivos/icon-cafe.svg">
                <img src="../images/Iconos_Cultivos/icon-cana-azucar.svg">
                <img src="../images/Iconos_Cultivos/icon-palma.svg">
            </div>
            <h5 style="font-weight:bold">ENVASADO</h5>
            <div class="row">
                <div class="col-xs-4">
                <button type="button" class="btn btn-cult">1 Litro</button>
                <button type="button" class="btn btn-cult">20 Litros</button>
                </div>
                <div class="col-xs-4">
                    <button type="button" class="btn btn-cult">4 Litros</button>
                    <button type="button" class="btn btn-cult">200 Litros</button>
                </div>
            </div>
        </div>
    </div>
    <script src="../../../node_modules/jquery/dist/jquery.min.js"></script>
    <script src="../../../node_modules/bootstrap/dist/js/bootstrap.js"></script>
  </body>
</html>