<!DOCTYPE html>
<html lang="en">
  <head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>PRODUCTOS</title>
  <!-- Bootstrap core CSS -->
  <link href="../css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="../css/styles.css">
  <link href="https://fonts.googleapis.com/css?family=Antic|Nixie+One|Poiret+One|Quicksand" rel="stylesheet"> 
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  </head>
  <body>
    <div class="nav-three">
        <img src="../images/Recuadros_categorias/recuadro-azul.png"  height="80px" width="100%">
        <nav class="topnav top-fer">
            <a href="#">
                <i class="fa fa-bars" id="hide"></i>  
                <i class="fa fa-angle-left"></i>PRODUCTOS
            </a>
            <a href="#" class="two"><i class="fa fa-ellipsis-v"></i></a>
        </nav>
        <ul class="sidebar-menu" id="menu">
            <img src="../images/Otros/logo-crop-horizontal.svg"  class="img-menu" width="100%">
            <img src="../images/Otros/background-desplegable-menu.png"  height="50px" width="100%">
            <li>
                <a href="#"><span class="fa">+</span>HERBICIDAS</a>
            </li>
            <li>
                <a href="#"><span class="fa">+</span>INSECTICIDAS</a>
            </li>
            <li>
                <a href="#"><span class="fa">+</span>FUNGICIDAS</a>
            </li>
            <hr>
            <li class="end">
                <a href="#"><span class="fa">+</span>salir</a>
            </li>
        </ul>
        <div class="span-h">
            <a href="#">HERBICIDAS</a>
            <a href="#">FERTILIZANTES</a>
            <a href="#">FUNGICIDAS</a>
        </div>
    </div>
    <div class="col-xs-6 col-sm-4">
        <div class="cont-p">
            <img src="../images/Ribbon/ribbon-azul@2x.png">
        </div>
        <div class="cul-hi hidden-xs">
        <h5>CULTIVOS</h5>
        <div class="cult">
                <img src="../images/Iconos_Cultivos/icon-banano.svg">
                <img src="../images/Iconos_Cultivos/icon-arroz.svg">
                <img src="../images/Iconos_Cultivos/icon-cafe.svg">
                <img src="../images/Iconos_Cultivos/icon-cana-azucar.svg">
            </div>
            <div>
                <img src="../images/Imagenes_backgrounds/1-banano.png"  height="100%" width="100%">
                
            </div>
        </div>
        <button type="button" class="btn btn-produc">CARACTERÍSTICAS</button>
    </div>
    <div class="col-xs-6 col-sm-4">
        <div class="cont-p">
            <img src="../images/Ribbon/ribbon-azul@2x.png">
        </div>
        <div class="cul-hi hidden-xs">
        <h5>CULTIVOS</h5>
        <div class="cult">
            <img src="../images/Iconos_Cultivos/icon-banano.svg">
            <img src="../images/Iconos_Cultivos/icon-arroz.svg">
            <img src="../images/Iconos_Cultivos/icon-cafe.svg">
            <img src="../images/Iconos_Cultivos/icon-cana-azucar.svg">
        </div>
            <img src="../images/Imagenes_backgrounds/1-banano.png"  height="100%" width="100%">
        </div>
        <button type="button" class="btn btn-produc">CARACTERÍSTICAS</button>
    </div>
    <div class="col-xs-6 col-sm-4">
        <div class="cont-p">
            <img src="../images/Ribbon/ribbon-azul@2x.png">
        </div>
        <div class="cul-hi hidden-xs">
        <h5>CULTIVOS</h5>
        <div class="cult">
            <img src="../images/Iconos_Cultivos/icon-banano.svg">
            <img src="../images/Iconos_Cultivos/icon-arroz.svg">
            <img src="../images/Iconos_Cultivos/icon-cafe.svg">
            <img src="../images/Iconos_Cultivos/icon-cana-azucar.svg">
        </div>
            <img src="../images/Imagenes_backgrounds/1-banano.png"  height="100%" width="100%">
        </div>
        <button type="button" class="btn btn-produc">CARACTERÍSTICAS</button>
    </div>
    <script src="../js/jquery.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/main.js"></script>
  </body>
</html>